header {
  height: 75px;
  text-align: center;
  color: white;
  margin: 0;
}

body {
  background: Black;
  padding: 0;
  }

img {
  height: 100px;
  float: left;
  margin-left:1px;
}
h4 {
  color: red;
 
}

p{
  color: white;
}
li {
  color: white;
}
h3 {
  color: white;
}
